html {
  box-sizing: border-box;
  background: #ffc600;
  font-family: "helvetica neue";
  font-size: 20px;
  font-weight: 200;
}

body {
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.panels {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
}

.panel {
  background: #6b0f9c;
  box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.1);
  color: white;
  text-align: center;
  align-items: center;
  transition: font-size 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11),
    flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11), background 0.2s,
    transform 0.5s cubic-bezier(0.61, -0.19, 0.7, -0.11), box-shadow 0.5s;
  font-size: 20px;
  background-size: cover;
  background-position: center;
  flex: 1;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.panel1 {
  background-image: url(https://images.unsplash.com/photo-1761960083580-7bda5603a8cf?q=80&w=387&auto=format&fit=crop&ixlib-rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}
.panel2 {
  background-image: url(https://images.unsplash.com/photo-1702020164551-5df9a276e355?q=80&w=387&auto=format&fit=crop&ixlib-rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}
.panel3 {
  background-image: url(https://images.unsplash.com/photo-1465188162913-8fb5709d6d57?ixlib=rb-0.3.5&q=80&fm=jpg&crop=faces&cs=tinysrgb&w=1500&h=1500&fit=crop&s=967e8a713a4e395260793fc8c802901d);
}
.panel4 {
  background-image: url(https://images.unsplash.com/photo-1762532985528-85e32b844dd6?q=80&w=870&auto=format&fit=crop&ixlib-rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}
.panel5 {
  background-image: url(https://images.unsplash.com/photo-1713325802286-42dd68bdc0f4?q=80&w=870&auto=format&fit=crop&ixlib-rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.panel > * {
  margin: 0;
  width: 100%;
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel > *:first-child {
  transform: translateY(-100%);
  transition: transform 0.5s cubic-bezier(0.61, -0.19, 0.7, -0.11);
  transition-delay: 0s;
}
.panel.open-active > *:first-child {
  transform: translateY(0);
}

.panel > *:last-child {
  transform: translateY(100%);
  transition: transform 0.5s cubic-bezier(0.61, -0.19, 0.7, -0.11);
  transition-delay: 1s;
}
.panel.open-active > *:last-child {
  transform: translateY(0);
}

.panel p {
  text-transform: uppercase;
  font-family: "Amatic SC", cursive;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
  font-size: 2em;
}

.panel p:nth-child(2) {
  font-size: 4em;
  transform: scale(0.5);
  opacity: 0;
  transition: all 0.5s 0.5s cubic-bezier(0.61, -0.19, 0.7, -0.11);
}

.panel.open-active p:nth-child(2) {
  transform: scale(1);
  opacity: 1;
}

.panel.open {
  flex: 5;
  font-size: 40px;
  transform: scale(1.02);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
  z-index: 2;
}

@media only screen and (max-width: 600px) {
  .panel p {
    font-size: 1em;
  }
}
