:root {
  --base: #ffc600;
  --spacing: 10px;
  --blur: 10px;
  --rotate: 0deg;
  --opacity: 1;
}

img {
  padding: var(--spacing);
  background: var(--base);
  filter: blur(var(--blur)) opacity(var(--opacity));
  transform: rotate(var(--rotate));
  border: 5px solid var(--base);
  box-shadow: 0 0 10px var(--base);
}

.hl {
  color: var(--base);
}

body {
  text-align: center;
  background: #193549;
  color: white;
  font-family: "helvetica neue", sans-serif;
  font-weight: 100;
  font-size: 50px;
}

.controls {
  margin-bottom: 50px;
}

input {
  width: 100px;
}
